<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/mobile.css" />
    <link
      rel="stylesheet"
      media="only screen and (min-width : 600px)"
      href="/css/desktop.css"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <h2>Film</h2>
        <div class="topbarContainer">
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/allfilms">Film List</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="container">
        <h1><%= film.filmTitle %></h1>
        <p><%= film.filmDescription %></p>
        <p><%= new Date(film.releaseDate).toDateString() %></p>
      </div>
    </div>
    <footer>
      <div class="container">&copy; 2022</div>
    </footer>
  </body>
</html>
