<%- include('partials/head'); %>
<div class="container">
 

  <form action="/register" method="post" class="logReg">

    <div>
       <h1>Register</h1>

  <% if (locals.error) { %>
  <p class="error"><%= error %></p>
  <% } %>
    </div>

    <div>
      <label for="email">Username</label>
      <input type="text" name="email" id="email" />
    </div>

    <div>
      <label for="password">Password</label>
      <input type="text" name="password" id="password" />
    </div>

    <div>
      <input type="submit" value="Sign Up" />
    </div>
  </form>
</div>
<%- include('partials/footer'); %>
