<footer>
  <div class="container">
    &copy; <span id="currentYear"></span>
  </div>
</footer>

<script>
  const currentYear = new Date().getFullYear();
  document.getElementById("currentYear").textContent = currentYear.toString();
</script>
  </body>
  </html>