<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title || film.filmTitle %></title>
    <link rel="stylesheet" href="/css/mobile.css" />
    <link
      rel="stylesheet"
      media="only screen and (min-width : 600px)"
      href="/css/desktop.css"
    />
    <script src="/js/formsubmission.js" defer></script>
  </head>
  <body>
    <header>
      <div class="container">
        <h2>Films</h2>
        <div class="topbarContainer">
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/films">Film List</a></li>
              <% if (loggedIn) { %>
              <li><a href="/cms">CMS</a></li>
              <li><a href="/logout">Logout</a></li>
              <% } else { %>
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
              <% } %>
            </ul>
          </nav>
          <div class="topbar">
            <div class="searchBox">
              <div class="searchBox">
                <form method="get" id="searchForm">
                  <input type="text" id="filmTitle" />
                  <input type="submit" value="Search" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
